<%- include('../partials/header') %>

<span class='main-header gfont'><%= store.name %></span>
<hr/>
<span class='owned-by'>Owned by <strong><%= owner %></strong></span>

<%- include('../partials/footer') %>
