<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
  <title>Gigamajig</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>

<body>
  <header>
    <span class='gigamajig'>gigamajig</span>
    <nav>
      <% if (!user) { %>
        <div class='nav-button'>
          <a href='/auth/google'>Log in with</a>
          <a href='/auth/google'>
            <img id='google-icon' src='https://i.imgur.com/FHjYyi0.png'/>
          </a>
        </div>
      <% } else { %>
        <div class='nav-button'>
          <a href='/logout'>Log out</a>
        </div>
      <% } %>
    </nav>
  </header>
