<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
  <title>Gigamajig</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap" rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <script defer src='/javascripts/script.js' type='text/javascript'></script>
</head>

<body>
  <header>
    <a href='/'><span class='gfont'>gigamajig</span></a>
    <nav>
      <% if (!user) { %>
        <a class='nav-button' href='/auth/google'><div>
          Signup / Login
          <img id='google-icon' src='https://i.imgur.com/FHjYyi0.png'/>
        </div></a>
      <% } else { %>
        <span>Hello, <%= user.name.split(' ')[0] %>!</span>
        <a 
          class='nav-button'
          href='/users/<%= user._id %>'
        ><div>
          Your dashboard
        </div></a>
        <a class='nav-button' href='/logout'><div>
          Logout
        </div></a>
      <% } %>
    </nav>
  </header>

  <main>
