<%- include('./partials/header') %>

<section id='splash-screen'>
  <h1 class='gfont'>gigamajig</h1>

  <div id='tagline' class='gfont'>book and be booked!</div>

  <% if (!user) { %>
    <p class='gfont'>
      click the [<strong style='font-family: sans-serif'>Signup / Login</strong>] link in the navbar above to get started!
    </p>
  <% } %>

  <p class='gfont'>want to browse our service providers?</p>
  <a href='/stores'><div>Take a look!</div></a>
</section>

<%- include('./partials/footer') %>
