:root {
  --body-bgcol: #dde;
  --header-bgcol: rgb(168, 180, 215);
  --header-box-shadow: 0 4px 5px #666;
  --header-button-bgcol: rgba(50, 59, 86, 0.15);
  --header-logo-col: rgb(50, 59, 86);
}

* {
  box-sizing: border-box;
  margin: 0;
}

.gigamajig {
  font-family: 'ADLaM Display', cursive;
}

.avatar {
  border-radius: 50%;
}

body {
  background-color: var(--body-bgcol);
  cursor: default;
  font-family: sans-serif;
  overscroll-behavior: none;
}

header {
  align-items: center;
  background-color: var(--header-bgcol);
  box-shadow: var(--header-box-shadow);
  display: flex;
  height: 8vmin;
  justify-content: space-between;
  padding: 3vmin;
}

header > span {
  color: var(--header-logo-col);
  font-size: 5vmin;
  padding-bottom: 1.25vmin;
}

header > nav, header > nav > .nav-button {
  align-items: center;
  display: flex;
}

header > nav > .nav-button {
  background-color: var(--header-button-bgcol);
  border-radius: 6px;
  height: 4.5vmin;
  margin-right: 2vmin;
  padding: 0 1.5vmin;
}

header > nav > .nav-button:last-child {
  margin-right: 0;
}

header > nav > .nav-button > a {
  color: var(--body-bgcol);
  font-size: 1.75vmin;
  font-weight: bold;
  text-decoration: none;
}

#google-icon {
  height: 3vmin;
  margin-left: 0.5vmin;
}
