<%- include('../partials/header') %>

<span class='main-header gfont'>
  <%= user.name %> &mdash; Delete user account
</span><hr/>

<form
  action='/users/<%= user._id %>?_method=DELETE'
  method='POST'
  style='background-color: #f88'
>
  <label style='font-weight: bold'>Are you sure?</label>
  <p>Confirming will result in <em>permanent</em> deletion.</p>
  <p>Your account will not be retrievable, and all information will be lost.</p>
  
  <label>Type your full name (as appears on your account) to confirm:</label>
  <input name='name' type='text' required/>

  <button type='submit'>Delete account</button>
</form>

<% if (deleteError) { %>
  <div style='width: 100%; text-align: center; color: red'>
    <p><strong>Did not match full user name.</strong></p>
    <p>If you still want to delete, try again.</p>
  </div>
<% } %>

<%- include('../partials/footer') %>
